doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/meme-card.css')
  body
    #meme-card
      img(src='#{imageUrl}')
      p.meme-text.meme-header #{headerText}
      p.meme-text.meme-footer #{footerText}

