doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/meme-card.css')
  body
    .flex-container
      img(src='#{imageUrl}')
      span.meme-text.meme-header #{headerText}
      span.meme-text.meme-footer #{footerText}